
/* .root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.register {
  grid-column-start: 2;
  justify-self: center;
}

.App {
  grid-column-start: 2;
  justify-self: center;
}

.date-container {
  margin: 2rem 0rem;
}

.error {
  color: red;
}

.option {
  margin: 0.5rem 0rem;
  width: 100%;
}

.box {
  width: 50rem !important;
  margin: 0rem !important;
}

/* //////////// */

.btn-block {
  width: 100%;
}

.space {
  margin: 3px;
}

.color {
  background-color: #2196f3 !important;
}

.profile {
  margin: auto 20% !important;
  padding: 1rem !important;
  color: rgba(40, 100, 70, 0.664);
}

.errp {
  color: rgba(40, 100, 70, 0.664);
}

.tree {
  text-align: center;
  margin: 0rem;
}

.my-model {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  vertical-align: top;
  background: rgba(131, 112, 112, 0.376);
}

.my-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-footer {
  display: grid;
  justify-content: center;
  background-color: rgba(47, 14, 53, 0.534);
}

.card {
  margin-top: 5rem;
  padding: 3rem;
  margin: 5rem 2rem;
}

/* //////////////////////////////////// */

.memeber-item {}


input {
  color: rgb(88, 29, 29) !important;
}

body {
  color: rgb(88, 29, 29);
  line-height: 2rem !important;
  background-color: white;
  /* background-color: rgb(5, 18, 34); */
  height: 100%;
}

.member-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ///////////////////////////////////////////////////////// */

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }

.contact-grid{
  display: grid;
  grid-template-columns: repeat(1 , 1fr) !important;
}

.contact-item{
   justify-self: start !important;
}



  .member-wrapper {
    display: grid;
    grid-template-columns: auto;
  }

  .my-wrapper {
    display: grid;
    grid-template-columns: auto;
  }
}


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-2 img {
  justify-self: center;
  align-self: center;

}


.nav {
  display: grid;
}

.nav {
  display: grid;
  background-color: blue;
}

.list {
  grid-gap: 0rem;
  margin: 0rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nav {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4fr repeat(4, 120px);
  justify-content: center;
  align-content: center;
}

.nav__list {
  grid-gap: 5rem;
  margin: 1rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.nav__list:nth-child(1) {
  font-size: 2rem;
  align-items: center;
  justify-self: start;
}

.nav_link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all;
  transition-duration: 1s;
}

.nav__link:hover {
  color: rgb(114, 126, 219);
  font-size: 1.1rem;
  font-weight: 200;
}


.nav__list:nth-child(1) {
  font-size: 2rem;
  align-items: center;
  justify-self: start;
}

.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all;
  transition-duration: 1s;
}

.nav__link:hover {
  color: rgb(114, 126, 219);
  font-size: 1.1rem;
  font-weight: 200;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: green;
  height: 8vh;
}

.custom-container {
  margin: 5px 15px !important;
}

.sidenav-overlay {
  opacity: 0 !important;
}

@media only screen and (max-width: 900px) {
  .brand-logo {
    display: none !important;
  }

  th {
    padding: 0px 0px;
  }

  p {
    font-size: 11px;
  }

  th,
  td {
    font-size: 11px;
  }

}


/* ///////////////////////////////////////// */
/* ////////////////////////////////////////////// */

.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

.image {
  margin-bottom: 1rem;
  width: 20rem;
  height: 6rem;
}

.brand-logo {
  width: 3rem !important;
  height: 3rem !important;
}
/* ///////////////////////////// */
.cash-stack-logo{
  height: 3rem;
  width: 5rem;
  margin-top: 7px;
}



.teal{
  background-color:white;
}
    /* ///////////// */



    /* /////// */
 .margin-right{
   margin-right: 0.5rem;
 }


    /* ///////////////////// */


.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}

.blue-text{
  color:rgb(72, 72, 151);
}


.label-text{
  color:rgba(165, 128, 26, 0.911); 
}

.card-margin{
  margin: 2rem 2rem;
}

.hero-wrapper{
  display: grid;
  justify-content: center;
}

.hero-img{
  width: 300px;
  margin-top: 1rem;
}

.hero-header{
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  color:orange;
}

p{
  opacity: 0.6;
}

.hero-stand{
  color: red;
  font-weight: bold;
      line-height: 1.5;
}



/* //////////////////// how it works */

.header-header{
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}


/* //////////////////////// contact us*/


.contact-grid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);

  justify-content: center;
  margin:2rem 0rem;
}


.contact-item{
  display: grid;
  justify-self: center;
  /* grid-template-columns: repeat(2 , 1fr); */
}

.contact-item > h6{
   margin: 0rem;
}

.contact-img{
  display:inline-block;
  margin-top:0.5rem;
}




.white-text{
  opacity: 0.6;
}

.MuiTablePagination-toolbar {
    display: grid !important;
    grid-template-columns: repeat(5 , 1fr);
    padding: 0rem;
    padding-left: 0rem !important;
}