/* .root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.register {
  grid-column-start: 2;
  justify-self: center;
}

.App {
  grid-column-start: 2;
  justify-self: center;
}

.date-container {
  margin: 2rem 0rem;
}

.error {
  color: red;
}

.option {
  margin: 0.5rem 0rem;
  width: 100%;
}

.box {
  width: 50rem !important;
  margin: 0rem !important;
}

/* //////////// */

.btn-block {
  width: 100%;
}

.space {
  margin: 3px;
}

.color {
  background-color: #2196f3 !important;
}

.profile {
  /* margin: 0 ; */
  /* margin-left: 2rem !important; */
  margin: auto 20% !important;
  padding: 1rem !important;
  color: rgba(40, 100, 70, 0.664);
}

.errp {
  color: rgba(40, 100, 70, 0.664);
}

.tree {
  text-align: center;
  margin: 0rem;
  /* width: 100%; */
  /* margin-left: 20rem !important; */
}

/* /* 

.show {
  text-align: center;
}

/* .center {

width: 40% !important;
} */
*/ */ .my-model {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  vertical-align: top;
  background: rgba(131, 112, 112, 0.376);
  /* /* position: relative; */
}

.my-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.footer {
  /* display: grid; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-footer {
  display: grid;
  justify-content: center;
  background-color: rgba(47, 14, 53, 0.534);
}

.card {
  margin-top: 5rem;
  padding: 3rem;
  margin: 5rem 2rem;
}

/* //////////////////////////////////// */

.memeber-item {}

label {
  color: white !important;
}

input {
  color: white !important;
}

body {
  color: white;
  line-height: 2rem !important;
  /* background-image: url('./images/money-1604921.jpg'); */
  /* display: grid; */
  /* background-image: linear-gradient(to right bottom, rgba(9, 15, 17, 0.8), rgba(9, 15, 107, 0.8)),
  url('./images/money-1604921.jpg');
  background-size: cover;
  background-position: center; */
  background-color: rgb(32, 11, 11);
  height: 100%;
  /* background-repeat: no-repeat; */
}

.member-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ///////////////////////////////////////////////////////// */

@media only screen and (max-width: 768px) {
  body {
    /* background-color: lightblue; */
  }

  .member-wrapper {
    display: grid;
    grid-template-columns: auto;
  }

  .my-wrapper {
    display: grid;
    grid-template-columns: auto;
  }
}


/* ////////////////////////////////////////////// */
/* #nav-mobile {
  display: grid;
  backg
  grid-gap: 0rem;
  margin: 0rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
} */

.nav {
  display: grid;


}

.nav {
  display: grid;
  background-color: blue;
}

.list {
  grid-gap: 0rem;
  margin: 0rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.nav {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4fr repeat(4, 120px);
  justify-content: center;
  align-content: center;

}

.nav__list {
  grid-gap: 5rem;
  margin: 1rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.nav__list:nth-child(1) {
  font-size: 2rem;
  align-items: center;
  justify-self: start;
}

.nav_link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all;
  transition-duration: 1s;
}

.nav__link:hover {
  color: rgb(114, 126, 219);
  font-size: 1.1rem;
  font-weight: 200;
}

/* {
  grid-gap: 5rem;
  margin: 1rem;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
} */

.nav__list:nth-child(1) {
  font-size: 2rem;
  align-items: center;
  justify-self: start;
}

.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all;
  transition-duration: 1s;
}

.nav__link:hover {
  color: rgb(114, 126, 219);
  font-size: 1.1rem;
  font-weight: 200;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: green;
  height: 8vh;
}


@media only screen and (max-width: 900px) {
  .brand-logo {
    display: none !important;
  }

  /* .nav {
    display: grid;
    background-color: blue;

  }

  .nav__list {
    grid-gap: 0rem;
    margin: 0rem;
    align-items: center;
    font-size: 1rem;
    list-style: none;
    margin-left: 2rem;
    width: 100%;
    height: 100%;
  }



  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .sidebar {
    display: grid;
    margin-top: 2rem;
    padding-bottom: 2rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 120px);
    justify-content: center;
    align-content: center;
    background-color: green;

  }

  .nav__list:nth-child(1) {
    display: none;
  }

  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 10px;
    cursor: pointer;

  }

  .nav-btn {
    margin: 0 0 5px 0;
    background-color: yellow;
    width: 2rem;
    height: 3px;
    text-align: center;
    display: none;
  } */
}

/* ///////////////////////////////////////// */
/* ////////////////////////////////////////////// */