/* .root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */



.register {
  grid-column-start: 2;
  justify-self: center;
}

.App {
  grid-column-start: 2;
  justify-self: center;

}


.date-container {
  margin: 2rem 0rem;
}

.error {
  color: red;
}


.option {
  margin: 0.5rem 0rem;
  width: 100%;
}


.box {
  width: 50rem !important;
  margin: 0rem !important;

}


/* //////////// */

.btn-block {
  width: 100%;
}

.space {
  margin: 3px;
}

.color {
  background-color: #2196F3 !important
}

.profile {
  /* margin: 0 ; */
  /* margin-left: 2rem !important; */
  margin: auto 20% !important;
  padding: 1rem !important;
  color: rgba(40, 100, 70, 0.664);
}

.errp {
  color: rgba(40, 100, 70, 0.664);
}

.tree {
  text-align: center;
  margin: 0rem;
  /* width: 100%; */
  /* margin-left: 20rem !important; */
}

/* /* 

.show {
  text-align: center;
}

/* .center {

width: 40% !important;
} */
*/ */ .my-model {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  vertical-align: top;
  background: rgba(131, 112, 112, 0.376);
  /* /* position: relative; */
}



.my-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


.footer {
  /* display: grid; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-footer {
  display: grid;
  justify-content: center;
  background-color: rgba(47, 14, 53, 0.534);
}

.card {
  margin-top: 5rem;
  padding: 3rem;
  margin: 5rem 2rem;
}



/* //////////////////////////////////// */

.memeber-item {}

label {
  color: white !important;
}

input {
  color: white !important;
}

body {
  color: white;
  line-height: 2rem !important;
  /* background-image: url('./images/money-1604921.jpg'); */
  /* display: grid; */
  background-image: linear-gradient(to right bottom, rgba(9, 15, 17, 0.8), rgba(9, 15, 107, 0.8)),
    url('./images/money-1604921.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  /* background-repeat: no-repeat; */
}

.member-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ///////////////////////////////////////////////////////// */